:root{
	/*  #9733f5 */
	--main-background-color1:#a248f7e3;
	--main-background-color3:tomato;
	--main-background-color2:#fefeff;

	/*post-card*/
	--card-background-hover: rgba(255, 99, 71, 0.65);
	--card-background: var(--main-background-color3);
	/*post-card*/

	/* navigation-button */
	--navigation-button-background-hover: var(--main-background-color1);
	--navigation-button-color-hover: var(--main-background-color2);
	--navigation-button-color-active: var(--main-background-color2);
	--navigation-button-color: var(--main-background-color1);
	--navigation-button-background-active: var(--main-background-color1);
	--navigation-button-background: var(--main-background-color2);
	/* navigation-button */

	/* filter-button */
	--filter-button-background-hover: #bc75ff;
	--filter-button-color-hover: var(--main-background-color2);
	--filter-button-color: var(--main-background-color1);
	--filter-button-background: var(--main-background-color2);
	--filter-button-border: var(--main-background-color1);
	/* filter */

	/* hero banner overlay */
	--hero-overlay-background: rgba(255, 255, 255, 0.35);
	--hero-overlay-background-hover: rgba(255, 255, 255, 0.85);
	--hero-overlay-color-hover: var(--main-background-color1);
	--hero-overlay-color:#2e2e2edc;
	/* hero banner overlay*/
}
*{
	box-sizing: border-box;
}
*::after, *::before {
	box-sizing: inherit;
}
html{
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	background: rgb(231, 231, 238); 

}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	/* font-weight: 400; */
	font-weight: 600;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
	text-decoration: none;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}